Options +Indexes
IndexIgnore ..
IndexOptions DescriptionWidth=40
IndexOrderDefault Descending Name
ReadmeName README.md
AddType text/plain .py .tpl .md
IndexOptions +SuppressHTMLPreamble
HeaderName HEADER.html

AddDescription "raw live demo code" zipserver.py
AddDescription "annotated demo code" zipserver_annotated.py
AddDescription "zip code data (sqlite)" njny_zip_codes.db
AddDescription "jinja2 template for RESTful \"browse\"" browse_home.tpl
AddDescription "useful Bottle links" references.html

